.headerTextExperince {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
}
.headerWrapperExperince {
    background-color: white;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sectionContent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 70px;
    text-align: center;
    
}


.experienceComponent {
    border: 1px solid;
    border-radius: 2rem;
    padding: 4px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    background-color: #0f172a;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.3);
    transition-duration: 300ms;
    cursor: pointer;
}

.title,
.type,
.description,
.date {
    color: white;
}

.type {
    font-weight: 300;
    font-size: smaller;
}

.date {
    font-size: smaller;
}

.experienceComponent:hover {
    transform: scale(1.05);
    
}



@media (min-width: 650px) {
    
    .sectionContent {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}


