.headerTextAbout {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px 20px;
    
}

.line {
    height: 2px;
    background: #0f172a;
    flex: 1;
}

.wrapper {
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    font-weight: 800;
    font-size: 2.5rem;
    -webkit-text-stroke: 1.5px #0f172a;
    -webkit-text-fill-color: transparent;
}

.sectionContent {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 10px;
    text-align: center;
}

.paragraph {
    border: 1px solid #0f172a;
    border-radius: 2rem;
    padding: 4px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.25rem;
    box-shadow: -20px 20px 10px rgba(0,0,0,0.3);
    transition-duration: 300ms;
    cursor: pointer;
}


.paragraph:hover {
    transform: scale(1.05);
}

@media (min-width: 650px) {
    .text {
        font-size: 4rem;
        -webkit-text-stroke: 2px #0f172a;
    }
    .sectionContent {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}